doctype html
html
	head
		meta(charset="utf8")
		title Transcendence
		link(rel="stylesheet", href="index.css")
	body
		#container
		script(src="/socket.io/socket.io.js")
		script(src="adapter.js")
		script(src="webvr-polyfill.js")
		script(src="three.min.js")
		script(src="WebVR.js")
		script(src="VRControls.js")
		script(src="VREffect.js")
		script(src="common.js")
		script(src="index.js")
